@import "tailwindcss";

/**--------- TIPOGRAFÍA Y ESTILOS BASE (ESCRITORIO) --------- */
@layer base {
  .Display {
    font-size: 4rem; /**64px*/
    font-weight: bold;
    font-family: 'Poppins';
  }
  h1 {
    color: black;
    font-size: 3.5rem; /**56px*/
    font-weight: bold;
    font-family: 'Poppins';
  }
  h2 {
    color: black;
    font-size: 3rem;   /**48px*/
    font-weight: bold;
    font-family: 'Poppins';
  }
  h3 { /**Subtitle 1 */  
    color: black;
    font-size: 2.5rem; /**40px*/
    font-family: 'Poppins';
    font-weight: bold;
  }
  h4 {
    color: black;
    font-size: 1.75rem; /**28px*/
    font-weight: 500;
  }
  p {
    color: black;
    font-size: 1.125rem; /**18px*/
    font-weight: 400;
  }
  .body-small {
    font-size: 1rem; /**16px*/
    font-weight: 400;
  } 
  .text-small-light {
    font-size: 0.875rem; /**14px*/
    font-weight: 300;
  }
  .tiny-extralight {
    font-size: 0.6875rem; /**11px*/
    font-weight: 200;
  }
  .footer-title {
    font-size: 1rem; /**16px*/
    font-weight: bold;
  }
}

/**--------- VISIBILIDAD MENU BURGER Y HORIZONTAL --------- */
/**Burger visible, menú desktop oculto en ≤768px */
.burger-menu { display: block; }
.desktop-menu { display: none; }

/**Menú desktop visible, burger oculto en ≥769px */
@media (min-width: 769px) {
  .burger-menu { display: none; }
  .desktop-menu { display: flex; }
}

.show-user-mobile {
  display: inline-block;
}

@media (min-width: 769px) {
  .show-user-mobile {
    display: none;
  }
}

/** --------- TIPOGRAFÍA Y ESTILOS MÓVIL --------- */
@media (max-width: 768px) {
  .Display {
    font-size: 2.25rem; /**36px*/
  }
  h1 {
    font-size: 1.875rem; /**30px*/
  }
  h2 {
    font-size: 1.75rem;  /**28px*/
  }
  h3 {
    font-size: 1.625rem; /**26px*/
  }
  h4 {
    font-size: 1.375rem; /**22px*/
  }
  p {
    font-size: 1rem;     /**16px*/
  }
  .body-small {
    font-size: 0.875rem; /**14px*/
  }
  .text-small-light {
    font-size: 0.75rem;  /**12px*/
  }
  .tiny-extralight {
    font-size: 0.6875rem;/**11px*/
  }
  .footer-title {
    font-size: 1rem;     /**16px*/
  }
}
